

Estilizar a cor de fundo do seu site como o css
body{
background-color:greenyellow;
}

Estilizar o título principal do seu site
 h1{
color:blanchedalmond ;
font-family: ;
background: ;
}

Estilizar os parágrafo
p{
color:rgb(224, 222, 222) ;
font-family: ;
font-size: ;
background: ;
}